.header {
  .container {
    height: 50px;
    @media (max-width: 425px) {
      width: 425px;
    }
    @media (min-width: 768px) {
      width: 768px;
    }
    @media (max-width: 1024px) {
      width: 1024px;
    }
    @media (max-width: 1440px) {
      width: 1440px;
    }
    .header-top {
      background-color: #0c4b35;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .contacts {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .contact {
          width: 240px;
          display: flex;
          align-items: center;
          justify-content: center;
          @media (max-width: 1023px) {
            width: 50px;
          }
          p {
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            color: #ffffff;
            margin-left: 10px;
            @media (max-width: 1023px) {
              display: none;
            }
          }
          .email,
          .phone,
          .location {
            width: 25px;
            height: 25px;
          }

          .email {
            background-image: url(../img/email.png);
            background-repeat: no-repeat;
          }
          .phone {
            background-image: url(../img/phone.png);
            background-repeat: no-repeat;
          }
          .location {
            background-image: url(../img/location.png);
            background-repeat: no-repeat;
          }
        }
      }
      .language {
        width: 100px;

        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-family: Nunito;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: #ffffff;
        }
        img {
          width: 7px;
          height: 3px;
          margin-left: 5px;
        }
      }
    }
  }
}
