.header {
  display: flex;
  flex-direction: column;
  .header-contacts {
    background-color: #0c4b35;
    height: 50px;
    display: flex;
    align-items: center;

    .container {
      display: flex;
      justify-content: space-between;

      .contacts {
        display: flex;

        .email,
        .phone,
        .location {
          margin-left: 20px;
          width: 25px;
          height: 25px;
          display: flex;
          @media (min-width: 1024px) {
            width: 30px;
            display: flex;
          }
        }

        .email {
          background-image: url(../img/email.png);
          background-repeat: no-repeat;
        }
        .phone {
          background-image: url(../img/phone.png);
          background-repeat: no-repeat;
        }
        .location {
          background-image: url(../img/location.png);
          background-repeat: no-repeat;
        }
        p {
          color: #ffffff;
          display: none;
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 25px;
          margin-left: 5px;
          @media (min-width: 1024px) {
            display: block;
          }
        }
      }

      .languadge {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 20px;
        color: #ffffff;

        img {
          width: 10px;
          height: 10px;
          margin-left: 5px;
        }
      }
    }
  }
  .navbar {
    height: 70px;

    display: flex;
    align-items: center;

    .container {
      display: flex;
      justify-content: space-between;
      .logo {
        margin-left: 20px;
        img {
          width: 90px;
          height: 40px;
          @media (min-width: 1024px) {
            width: 100px;
            height: 50px;
          }
        }
      }
      .row {
        display: flex;
        justify-content: space-between;
        width: 150px;

        @media (min-width: 1024px) {
          width: 200px;
          display: flex;
          flex-direction: row-reverse;
        }
        .row-1 {
          button {
            border: none;
            background-color: #ffffff;
            margin-right: 30px;

            .call_button {
              background-color: #00730c;
              width: 130px;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 10px;
              img {
                margin-right: 10px;
                width: 30px;
                height: 30px;
                color: #ffffff;
              }
              p {
                font-family: Nunito;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                text-transform: capitalize;
                color: #ffffff;
              }

              @media (max-width: 1023px) {
                display: none;
              }
            }
          }
          .phone_responsiv {
            background-image: url(../img/phone_responsiv.png);
            background-repeat: no-repeat;
            background-position: center;
            background-color: #00730c;
            border-radius: 10px;
            width: 40px;
            height: 35px;

            @media (min-width: 1024px) {
              display: none;
            }
          }
        }
      }
    }
    .menu {
      background-image: url(../img/menu_button.png);
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
      margin-right: 20px;
      @media (min-width: 1024px) {
        display: none;
      }
    }
    .menu-item {
      width: 550px;
      display: flex;
      align-items: center;
      ul {
        width: 100%;
        display: flex;
        li {
          width: 85px;
          margin-left: 5px;
          text-align: center;
          a {
            display: block;
            width: 85px;
            text-decoration: none;
            font-family: Nunito;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            text-transform: capitalize;
            color: #212529;
          }
        }
      }

      @media (max-width: 1023px) {
        display: none;
      }
    }
  }
}
