.header {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;

  .header-contacts {
    display: flex;
    align-items: center;
    background-color: #0c4b35;
    color: #ffffff;
    width: 100%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;

    .container {
      display: flex;
    }

    .contacts {
      display: flex;
      justify-content: space-between;

      .email,
      .phone,
      .location {
        display: flex;
        align-items: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        p {
          margin-left: 10px;
        }
      }
    }

    .languadge {
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;

      display: flex;
      align-items: center;
      justify-content: flex-end;

      img {
        width: 12px;
        height: 6.84px;
        padding-left: 5px;
        margin-right: 10px;
      }
    }
  }

  .navbar {
    width: 100%;
    height: 85px;

    display: flex;
    align-items: center;

    .container {
      display: flex;
      align-items: center;
      .logo {
        img {
          width: 120px;
          height: 55px;
        }
      }
      .menu {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        a {
          height: 50px;
          text-decoration: none;
          font-family: Nunito;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          text-transform: capitalize;
          color: #212529;
          line-height: 50px;
          margin-left: 44px;

          &:hover {
            color: #00730c;
          }
        }
        button {
          background-color: #ffffff;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .item {
    width: 100%;
    height: 719px;
    background: var(
      --main-gradient-1-color,
      linear-gradient(
        80deg,
        rgba(0, 115, 12, 0.81) -39.14%,
        rgba(251, 246, 238, 0) 90.23%
      )
    );

    display: flex;
  }
}
