.container {
  width: 375px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 425px) {
  .container {
    width: 425px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header .container {
  height: 50px;
}
.header .container .header-top {
  background-color: #0c4b35;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .header-top .contacts {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header .container .header-top .contacts .contact {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
@media (max-width: 1023px) {
  .header .container .header-top .contacts .contact {
    width: 50px;
  }
}
.header .container .header-top .contacts .contact p {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  color: #ffffff;
  margin-left: 10px;
}
@media (max-width: 1023px) {
  .header .container .header-top .contacts .contact p {
    display: none;
  }
}
.header .container .header-top .contacts .contact .email,
.header .container .header-top .contacts .contact .phone,
.header .container .header-top .contacts .contact .location {
  width: 25px;
  height: 25px;
}
.header .container .header-top .contacts .contact .email {
  background-image: url(../img/email.png);
  background-repeat: no-repeat;
}
.header .container .header-top .contacts .contact .phone {
  background-image: url(../img/phone.png);
  background-repeat: no-repeat;
}
.header .container .header-top .contacts .contact .location {
  background-image: url(../img/location.png);
  background-repeat: no-repeat;
}
.header .container .header-top .language {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .container .header-top .language p {
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
}
.header .container .header-top .language img {
  width: 7px;
  height: 3px;
  margin-left: 5px;
}
.header .header-nav {
  display: flex;
  align-items: center;
}
.header .header-nav .container {
  width: 375px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .header .header-nav .container {
    width: 425px;
  }
}
@media (min-width: 768px) {
  .header .header-nav .container {
    width: 768px;
  }
}
@media (min-width: 1024px) {
  .header .header-nav .container {
    width: 1024px;
  }
}
@media (min-width: 1440px) {
  .header .header-nav .container {
    width: 1440px;
  }
}
.header .header-nav .container .logo {
  margin-left: 15px;
}
.header .header-nav .container .logo img {
  width: 90px;
  height: 40px;
}
@media (min-width: 1024px) {
  .header .header-nav .container .logo img {
    width: 120px;
    height: 55px;
  }
}
.header .header-nav .container .navbar {
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
}
@media (min-width: 1024px) {
  .header .header-nav .container .navbar {
    width: 700px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
.header .header-nav .container .navbar .nav-button {
  background-color: #00730c;
  border-radius: 10px;
  width: 40px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1024px) {
  .header .header-nav .container .navbar .nav-button {
    width: 170px;
    height: 40px;
  }
}
.header .header-nav .container .navbar .nav-button img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.header .header-nav .container .navbar .nav-button p {
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}
@media (max-width: 1023px) {
  .header .header-nav .container .navbar .nav-button p {
    display: none;
  }
}
.header .header-nav .container .navbar .menu {
  display: flex;
  align-items: center;
}
.header .header-nav .container .navbar .menu .menu_button {
  width: 40px;
  height: 34px;
  display: flex;
  align-items: center;
}
@media (min-width: 1024px) {
  .header .header-nav .container .navbar .menu .menu_button {
    display: none;
  }
}
.header .header-nav .container .navbar .menu ul {
  height: 50px;
  display: flex;
  align-items: center;
}
.header .header-nav .container .navbar .menu ul li {
  width: 90px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header-nav .container .navbar .menu ul li:hover {
  color: #00730c;
}
@media (max-width: 1023px) {
  .header .header-nav .container .navbar .menu ul li {
    display: none;
  }
}
.header .header-nav .container .navbar .menu ul li p {
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: capitalize;
  margin-right: 5px;
}
.header .header-bottom {
  display: flex;
  flex-direction: column;
}
.header .header-bottom .container .bottom-img img {
  width: 100%;
  height: 240px;
  margin-bottom: -3px;
}
@media (max-width: 768px) {
  .header .header-bottom .container .bottom-img img {
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .header .header-bottom .container .bottom-img img {
    width: 1013px;
    height: 673px;
  }
}
.header .header-bottom .container .header-content {
  background: var(--main-gradient-1-color, linear-gradient(40deg, rgba(0, 115, 12, 0.81) -22.86%, rgba(251, 246, 238, 0) 116.18%));
}
.header .header-bottom .container .header-content .content-container {
  width: 345px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .header-bottom .container .header-content .content-container .vector {
  display: flex;
  align-items: center;
}
.header .header-bottom .container .header-content .content-container .vector img {
  width: 24px;
  height: 20px;
}
.header .header-bottom .container .header-content .content-container .vector h1 {
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 5px;
}
.header .header-bottom .container .header-content .content-container .heading {
  font-family: Nunito;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
}
.header .header-bottom .container .header-content .content-container .heading p {
  color: #00730c;
}
.header .header-bottom .container .header-content .content-container .txt {
  width: 100%;
  margin-top: 15px;
}
.header .header-bottom .container .header-content .content-container .txt p {
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #212529;
}

* {
  box-sizing: border-box;
}

body {
  height: auto;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Sans", sans-serif;
  font-family: "PT Serif", serif;
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=style.css.map */