@import "variables";
@import "mixin";

@import "header";
@import "main";
@import "footer";

* {
  box-sizing: border-box;
}

body {
  width: 1600px;
  height: auto;

  font-family: "Nunito Sans", sans-serif;
  font-family: "PT Sans", sans-serif;
  font-family: "PT Serif", serif;
  font-family: "Roboto", sans-serif;
}
