.container {
  max-width: 1410px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.col-1 {
  width: 25%;
  height: auto;
}

.col-2 {
  width: 50%;
  height: auto;
}

.col-3 {
  width: 75%;
  height: auto;
}

.col-4 {
  width: 100%;
  height: auto;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.header .header-contacts {
  display: flex;
  align-items: center;
  background-color: #0c4b35;
  color: #ffffff;
  width: 100%;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}
.header .header-contacts .container {
  display: flex;
}
.header .header-contacts .contacts {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .header .header-contacts .contacts {
    display: flex;
    justify-content: space-evenly;
  }
}
.header .header-contacts .contacts .email,
.header .header-contacts .contacts .phone,
.header .header-contacts .contacts .location {
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.header .header-contacts .contacts .email p,
.header .header-contacts .contacts .phone p,
.header .header-contacts .contacts .location p {
  margin-left: 10px;
}
@media (max-width: 425px) {
  .header .header-contacts .contacts .email p,
  .header .header-contacts .contacts .phone p,
  .header .header-contacts .contacts .location p {
    display: none;
  }
}
.header .header-contacts .languadge {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .header-contacts .languadge img {
  width: 12px;
  height: 6.84px;
  padding-left: 5px;
  margin-right: 10px;
}
.header .navbar {
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
}
.header .navbar .container {
  display: flex;
  align-items: center;
}
.header .navbar .container .logo img {
  width: 120px;
  height: 55px;
}
@media (max-width: 425px) {
  .header .navbar .container .logo img {
    width: 90px;
    height: 40px;
  }
}
.header .navbar .container .menu {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .navbar .container .menu a {
  height: 50px;
  text-decoration: none;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  color: #212529;
  line-height: 50px;
  margin-left: 44px;
}
.header .navbar .container .menu a:hover {
  color: #00730c;
}
@media (max-width: 425px) {
  .header .navbar .container .menu {
    background-image: url(../img/menu_button.png);
    background-repeat: no-repeat;
  }
  .header .navbar .container .menu a {
    display: none;
  }
  .header .navbar .container .menu button img {
    display: none;
  }
}
.header .navbar .container .menu button {
  background-color: #ffffff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 425px) {
  .header .navbar .container .menu button {
    background-image: url(../img/call_button.png);
    background-repeat: no-repeat;
    display: flex;
    width: 30px;
    height: 30px;
    padding: 5.625px 0px;
    justify-content: center;
    align-items: center;
  }
}
.header .item {
  width: 100%;
  height: 719px;
  background: var(--main-gradient-1-color, linear-gradient(80deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%));
  display: flex;
}

* {
  box-sizing: border-box;
}

body {
  height: auto;
  font-family: "Nunito Sans", sans-serif;
  font-family: "PT Sans", sans-serif;
  font-family: "PT Serif", serif;
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=style.css.map */